body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid #954CED;
    border-radius: 50%;
    background-color: #f3efef;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}

.hour {
    width: 6px;
    height: 50px;
    background: #954CED;
}

.minute {
    width: 4px;
    height: 70px;
    background: rgb(29, 11, 219);
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #d9baff;
    border: 2px solid #7300ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.second {
    width: 2px;
    height: 90px;
    background: rgb(255, 255, 255);
}

.controls {
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}